<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Authorized</title>
</head>
<body>

<!-- Your content goes here -->

<script>
    // Google 驗證成功後
    function handleGoogleLoginSuccess() {
        // 執行一些處理成功的操作

        // 向主視窗發送消息
        window.opener.postMessage('facebookLoginSuccess', '*');

        // 關閉當前視窗
        window.close();

        // 修改主視窗的網址為首頁
        window.opener.location.href = '{{ url_for("main.home") }}';
    }

    // 在頁面載入完成後，調用 handleGoogleLoginSuccess
    document.addEventListener('DOMContentLoaded', function() {
        handleGoogleLoginSuccess();
    });
</script>

</body>
</html>
